body {color:#fff;font-family:GSR, Arial, sans-serif !important;background-color:#000;}
.frame {padding:5%;padding-bottom:15%;text-align:center;width:50%;}
.blue {background-color:#001a66;}
.green {background-color:#006633;}
.title {font-family:GSB, Arial, sans-serif !important;}
iframe {width:100%;height:200px;}
.pat {margin:0px;padding:0px;line-height:5px;}





@font-face {
  font-family: GSB;
  src: url(PSB.ttf);
}
@font-face {
  font-family: GSR;
  src: url(PSR.ttf);
}